* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

*::-webkit-scrollbar {
  width: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 2;
}

.nav-items {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-items > a {
  text-decoration: none;
  margin-right: 30px;
  opacity: 1;
  color: #eeeeee;
  font-size: 1.5rem;
}

.nav-items > a:hover {
  color: #4ecca3;
}

.nav-items > a:active {
  color: #4ecca3;
}

.empty-row {
  height: 10vh;
  width: 100vh;
}

#home {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./assets/portfolio_hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.header {
  width: 100vw;
  height: 20vh;
  margin-top: 5vh;
  background: #393e46cc;
  opacity: 0;
  animation-name: header-appear;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.header > h1 {
  color: #4ecca3;
  font-size: 3rem;
}

.header > h4 {
  color: #eeeeee;
  font-size: 1.2rem;
  font-weight: 200;
}

@keyframes header-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#about {
  height: 100vh;
  width: 100vw;
  background: rgb(35, 41, 49);
  background: linear-gradient(
    0deg,
    rgba(35, 41, 49, 1) 5%,
    rgba(57, 62, 70, 1) 50%,
    rgba(35, 41, 49, 1) 95%
  );
  scroll-snap-align: center;
}

.about-section-holder {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #232931;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 9px 3px #0b0c10;
  box-shadow: 5px 5px 9px 3px #0b0c10;
}

.about-photo-holder {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-photo-holder > img {
  max-width: 60%;
}

.about-info-holder {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.about-info-holder > h1 {
  color: #4ecca3;
  text-decoration: underline;
  font-size: 3rem;
  margin-bottom: 40px;
}

.about-info-holder > p {
  color: #eeeeee;
  font-size: 1.2rem;
}

#projects {
  height: 100vh;
  width: 100vw;
  background: rgb(35, 41, 49);
  background: linear-gradient(
    0deg,
    rgba(35, 41, 49, 1) 5%,
    rgba(57, 62, 70, 1) 50%,
    rgba(35, 41, 49, 1) 95%
  );
  scroll-snap-align: center;
}

.projects-holder {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal-project-holder {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group-project-holder {
  height: 100%;
  width: 50%;
}

.title-holder {
  height: 10%;
  width: 100%;
  text-align: center;
}

.title-holder > a > h1 {
  color: #4ecca3;
  text-decoration: underline;
  font-size: 2.5rem;
}

.project-photo-holder {
  height: 40%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-photo-holder > img {
  width: 70%;
}

.project-description-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
}

.project-description-holder > ul > li {
  text-align: left;
  color: #eeeeee;
  margin-bottom: 10px;
  font-size: 1rem;
}

#skills {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(35, 41, 49);
  background: linear-gradient(
    0deg,
    rgba(35, 41, 49, 1) 5%,
    rgba(57, 62, 70, 1) 50%,
    rgba(35, 41, 49, 1) 95%
  );
  scroll-snap-align: center;
}

.skills-row {
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-box {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.skills-box > i {
  font-size: 8rem;
  transition: font-size 0.5s;
}

.skills-box:hover > i {
  font-size: 10rem;
}

.skills-box > h2 {
  color: white;
  transition: opacity 0.5s;
}

.skills-box:hover > h2 {
  opacity: 0;
}

.devicon-wordpress-plain {
  color: white;
}

#contact {
  height: 100vh;
  width: 100vw;
  background: rgb(35, 41, 49);
  background: linear-gradient(
    0deg,
    rgba(35, 41, 49, 1) 5%,
    rgba(57, 62, 70, 1) 50%,
    rgba(35, 41, 49, 1) 95%
  );
  scroll-snap-align: center;
}

.contact-section-holder {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #232931;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 9px 3px #0b0c10;
  box-shadow: 5px 5px 9px 3px #0b0c10;
}

.contact-title {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-title > h1 {
  font-size: 3rem;
  color: #4ecca3;
  text-decoration: underline;
}

.contact-info {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.contact-item {
  width: 80%;
  height: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact-item > i {
  color: #4ecca3;
  margin-right: 20px;
}

.contact-item > a > h4 {
  font-size: 1.5rem;
  color: #eeeeee;
}

.contact-item > a {
  text-decoration: none;
}
